@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: monospace;
    font-size: 18px;
  }

  .copy-button {
    display: inline-block;
    padding: 5px 10px;
    color: #fffefe;
    background-color: #4b4b4b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
  
  .container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin:auto 0;
    box-shadow: 0 16px 8px rgba(214, 14, 14, 0.1);
    width: 800px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
  }
  
  .address, .transaction {
    margin-bottom: 15px;
  }

  .addressNumber {
    color: blue;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .primary-button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 700;
  }
  
  .primary-button:hover {
    background-color: #333;
  }

  .transaction {
    color: green;
  }
  